.container {
    margin: 0 auto;
    width: 1024px;
    text-align: center;
}
 li{
    display: inline-block;
    margin: 3px;
    margin-inline: 10px;
}
h1 {
    color: gold;
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 60, 255, 0.87);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item{
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 220px
}
footer{
    margin: 20px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
body  {
    background-color: rgba(0, 38, 255, 0.336);
}
.thegoldenboy{
    margin-left: 50px;
}
.theelectrician{
    margin-left: 10px;
}
.kidsplash{
    margin-left: 40px;
}
h3{
    font-size: 50px;
    font-weight: bold;
    margin-left: 800px;
}
form{
    display: inline-block;
    margin-left: 470px;
}
h4{
    font-size: 25px;
    display: inline-block;
    margin: 20px;
}
.juan{
    width: 100px;
    height: 100px;
    max-height: 150px;
    max-width: 100px;
    display: inline;
    margin-left: 150px;
    margin-right: 50px;
}
.cero2 {
margin-left: 150px;
display: inline;
height: 200px;
}
.footertitles{
    text-align: center;
    margin-top: 0px;
}
.burla{
text-align: center;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.titulos{
    text-align: center;
    display: inline;
    font-size: 50px;
margin-left: 350px;
}
.coach {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.comojugador {
    font-size: 69px;
    text-decoration: underline;
}
.coacht{
    font-size: 40px;
}
.coachtt{
    font-size: 30px;
}
.footercoach{
    text-align: center;
}
.footeratt{
text-align: center;
}
.datos{
    font-size: 40px;
}
.estadio{
    text-align: center;
    font-size: 50px;
}
.chase{
margin-left: 460px;
}
.players{
    text-align: center;
    font-size: 50px;
}
.footerplayers{
    text-align: center;
}
.equipo{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 570px;
}
.pros{
    text-align: center;
    color: green;
}
.pross{
    text-align: center;
}
.cons{
    text-align: center;
    margin-top: 100px;
    color: red;
}
.conss{
    text-align: center;
}
.grilla{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    text-align: center;
    margin-left: 600px;
    font-size: 20px;
    grid-column-gap: 25px;
    display: flex;
}
.hover1:hover {
    background-color: yellow;
    color: black;
    transition: all .3s;
}