.footeratt{
    text-align: center;
    }
    .datos{
        font-size: 40px;
    }
    .estadio{
        text-align: center;
        font-size: 50px;
    }
    .chase{
    margin-left: 460px;
    }
    .fuefundado {
        text-align: center;
        margin-top: 30px;
    }
    .patro{
        margin-top: 30px;
    }
    .prop{
        text-decoration: underline;
    }