.coach {
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.comojugador {
    font-size: 69px;
    text-decoration: underline;
}
.coacht{
    font-size: 40px;
}
.coachtt{
    font-size: 30px;
}
.footercoach{
    text-align: center;
}