h4{
    font-size: 25px;
    display: inline-block;
    margin: 20px;
}
.juan{
    width: 100px;
    height: 100px;
    max-height: 150px;
    max-width: 100px;
    display: inline;
    margin-left: 150px;
    margin-right: 50px;
}
.cero2 {
margin-left: 150px;
display: inline;
height: 200px;
}
.footertitles{
    text-align: center;
    margin-top: 0px;
}
.burla{
text-align: center;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.titulos{
    text-align: center;
    display: inline;
    font-size: 50px;
margin-left: 350px;
}